[Unit]
Description=Pardus Healer Otonom Koruma Kalkanı (Daemon)
After=network.target

[Service]
Type=simple
User=root
# Uygulama yolu
ExecStart=/usr/bin/python3 /opt/pardus-suite/run.py --daemon
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
